name: spellcheck

on:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Check Spelling
      uses: UnicornGlobal/spellcheck-github-actions@master
